/****/

$primary-color: #5678ee;
$light-color: #f9f9f9;
$dark-color: #555;
$bg-dark: #333;



*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html{
  font-size: 16px;
  line-height: 1.5;
}

a{
  text-decoration: none;
}

.container{
  width: 80%;
  display: block;
  &-fluid{
    width: 90%;
  }
}
.section{
  &-title{
    text-align: center;
  }
}


// Buttons

// Card

// Forms

// Modals

// Pills

// Table
