/****/
* {
  margin: 0;
  padding: 0;
  resize: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  display: block;
  margin: auto;
}
.container-fluid {
  width: 90%;
}

.section {
  padding: 4rem 0rem;
  border-bottom: 1px solid #F1F1F1;
}
@media screen and (max-width: 680px) {
  .section {
    padding: 2rem 0rem;
  }
}
.section-title {
  display: block;
  width: 50%;
  text-align: center;
  margin: 1.8rem auto;
  font-size: 1.8rem;
  position: relative;
}

.point {
  position: relative;
}
.point-tl::after {
  content: no-close-quote;
  position: absolute;
  border: 3px #5678ee solid;
  border-width: thick;
  z-index: 1;
  top: -8px;
  left: 40%;
}
.point-tr::after {
  content: no-close-quote;
  position: absolute;
  border: 3px #5678ee solid;
  border-width: thick;
  z-index: 1;
  top: -6px;
  right: 40%;
}
.point-bl::after {
  content: no-close-quote;
  position: absolute;
  border: 3px #5678ee solid;
  border-width: thick;
  z-index: 1;
  bottom: 3px;
  left: 38%;
}
.point-br::after {
  content: no-close-quote;
  position: absolute;
  border: 3px #5678ee solid;
  border-width: thick;
  z-index: 1;
  bottom: 2px;
  right: 38%;
}

.btn {
  padding: 0.8rem 1.2rem;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.4s;
}
.btn-primary {
  background-color: #5678ee;
  color: #f9f9f9;
}
.btn:hover {
  opacity: 0.8;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.7rem;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 680px) {
  .card-wrapper {
    display: block;
    margin: auto;
    width: 100%;
  }
}

.card {
  background-color: transparent;
  border-radius: 0.7rem;
  border: 1px solid #f9f9f9;
  box-shadow: 0 0 2px #f9f9f9;
  text-align: center;
}
.card-icon {
  display: block;
  margin: auto;
  width: 100%;
  height: 3.8rem;
}
.card-image {
  width: 100%;
  display: block;
  margin: auto;
  height: 9rem;
  max-height: 9rem;
}
.card-title {
  width: 100%;
  display: block;
  font-size: 1.4rem;
  margin: 0.5rem auto;
  font-weight: bolder;
}
.card-caption {
  padding: 0.5rem;
  width: 100%;
  display: block;
}
.card-footer {
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
  display: block;
  width: 100%;
  padding: 0.3rem;
}
.card-cta {
  display: block;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #f9f9f9;
}
@media screen and (max-width: 680px) {
  .card {
    margin-bottom: 1.2rem;
  }
}

label {
  display: block;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  text-align: left;
}

.tip {
  font-size: 0.7rem;
  font-style: oblique;
}

.form-group {
  display: block;
  width: 100%;
  margin-bottom: 1.2rem;
}
.form-group-inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 1.2rem;
}
.form-group-inline .form-item {
  width: 48%;
  flex-flow: row;
}
.form-group-inline .form-item:first-of-type {
  margin-right: 1.3rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color: #F1F1F1;
  color: #555;
}

/********************** Navigation Bar *************************/
.navbar {
  background-color: #f9f9f9;
  line-height: 4;
  display: block;
  width: 100%;
  line-height: 4;
  border-bottom: 1px solid #F1F1F1;
}

.navbar-container {
  width: 90%;
  display: block;
  margin: auto;
}

#toggle-nav-menu {
  display: none;
  user-select: none;
}
#toggle-nav-menu:checked ~ .navbar-container .navlinks {
  display: block;
}

.menu-icon {
  display: none;
}
.menu-icon svg {
  vertical-align: middle;
  fill: #5678ee;
  font-weight: bolder;
}
@media screen and (max-width: 800px) {
  .menu-icon {
    line-height: 5;
    display: block;
    float: right;
  }
}

.logo {
  display: inline;
  padding-right: 1.2rem;
  cursor: pointer;
  user-select: none;
}
.logo-icon {
  position: relative;
  bottom: -11px;
  width: 48px;
  max-height: 48px;
}
.logo-name {
  color: #5678ee;
  font-weight: bolder;
  font-size: 1.3rem;
}

.navlinks {
  display: inline;
  transition: all 0.5s;
}
.navlinks .nav-item {
  padding: 0.3rem 0.5rem;
  font-weight: 400;
  color: #5678ee;
  transition: border 0.1s;
}
.navlinks .nav-item:hover {
  border-bottom: 4px solid #5678ee;
  background-color: #f9f9f9;
  opacity: 0.5;
}
.navlinks .navbar-cta {
  background-color: #5678ee;
  color: #f9f9f9;
  border-radius: 1rem;
  padding: 0.8rem 1.9rem;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 3rem;
  line-height: 0.5;
  transition: background-color 0.5s;
}
.navlinks .navbar-cta:hover {
  color: #5678ee;
  background-color: #f9f9f9;
  border: 2px solid #5678ee;
}
@media screen and (max-width: 800px) {
  .navlinks {
    display: none;
  }
  .navlinks .nav-item, .navlinks .navbar-cta {
    display: block;
    line-height: 2.3;
    text-align: left;
    padding: 0.2rem 1.2rem;
    position: inherit;
  }
  .navlinks .nav-item:hover, .navlinks .navbar-cta:hover {
    border: none;
  }
}

.contact-form, .contact-data {
  display: inline-block;
  vertical-align: top;
}
.contact-data {
  width: 39%;
}
.contact-data li {
  line-height: 2.3;
}
.contact-data li:first-of-type {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f9f9f9;
}
.contact-form {
  width: 60%;
}
@media screen and (max-width: 800px) {
  .contact-form, .contact-data {
    display: block;
    width: 100%;
    margin: auto;
  }
  .contact-form li, .contact-form li:first-of-type, .contact-data li, .contact-data li:first-of-type {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
    padding-bottom: 0rem;
    border-bottom: none;
  }
  .contact-form li:last-of-type, .contact-data li:last-of-type {
    padding-bottom: 1.5rem;
    border-bottom: 1px #f9f9f9 solid;
  }
}

.contact-icon {
  position: relative;
  bottom: -8px;
  color: #5678ee;
  margin-right: 1rem;
}

.contact-info {
  display: inline;
}

.card-title, .card-icon {
  color: #5678ee;
  fill: #5678ee;
}
.card-cta a {
  font-weight: bolder;
  color: #5678ee;
}

/*# sourceMappingURL=main.css.map */
